[submodule "third_party/llm.c"]
	path = third_party/llm.c
	url = https://github.com/ludoviccchen/llm.c
[submodule "third_party/Bitnet"]
	path = third_party/Bitnet
	url = https://github.com/ludoviccchen/BitNet
