# Modèles et Datasets
models/
*.bin
*.gguf
*.safetensors

# Compilation et Builds C++
build/
*.o
*.so
*.a
*.exe
out/

# Python
__pycache__/
*.pyc
.env
.venv
venv/
.conda/

# Fichiers système
.DS_Store

.vscode